.index_form {
    background:white;
    padding-top: 50px;
    padding-bottom: 25px;
}
.index_footer {
    background:#353232;
    padding-top: 50px;
    padding-bottom: 25px;
    color: white;
}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;   background-image: url("/images/human-2944065_1280.jpg");
