extends layout
block content
  script(type='text/javascript').
   window.store_id=!{store_id};
  div(ng-controller="admin_service",ng-init="isLoadEdeit=true")
   h3 Services
   button.btn.btn-primary.btn-md( ng-click="op_add_service()",type='button', data-toggle='modal', data-target='#myModal') Add Service
   table.table.table-hover
     thead
       tr
        th(scope='col') item_id
        th(scope='col') name
        th(scope='col') name_vn
        th(scope='col') price
        th(scope='col') description1
        th(scope='col') description2
        th(scope='col') description3
        th(scope='col') x 
       tbody(ng-repeat='x in data')
         tr
           th(scope="row") {{ x.item_id}}
           td {{ x.name}}
           td {{ x.name_vn}}
           td {{ x.price}}
           td {{ x.description1}}
           td {{ x.description2}}
           td {{ x.description3}}
           td
            button.btn.btn-primary.btn-md(type='button',ng-click="remove_service(x)")
             span.fa.fa-trash
             span.fa.fa.user
            | 
            button.btn.btn-primary.btn-md(type='button', data-toggle='modal', data-target='#myModal',ng-click="load_service(x)") Edit



    .index_form(style="padding:10px;")
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Add New Service
            .modal-body
              form
                include form_service

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close


   #demo.collapse
     p ben here 
  //   include add_salon
  script(src='/javascripts/admin_service.js')
  //script(src='/javascripts/add_tech.js')
