extends layout
block content
  script(type='text/javascript').
   window.store_id=!{store_id};
  div(ng-controller="admin_tech")
   h3 Technician
   button.btn.btn-primary.btn-md(type='button', data-toggle='modal', data-target='#myModal', ng-click='reset_tech()') Add Technician
   table.table.table-hover
     thead
       tr
        th(scope='col') tech_id
        th(scope='col') avartar_path
        th(scope='col') user_name
        th(scope='col') first_name
        th(scope='col') last_name
        th(scope='col') phone
        th(scope='col') email
        th(scope='col') hours
        th(scope='col') trash 
        th(scope='col') edit 
       tbody
         tr(ng-repeat='x in data')
           th(scope='row') {{x.tech_id}}
           td {{x.avartar_path}}
           td {{x.user_name}} 
           td {{x.first_name}} 
           td {{x.last_name}} 
           td {{x.phone}}
           td {{x.email}}
           td {{x.hours}}
           td
            button.btn.btn-primary.btn-md(type='button',ng-click="remove_tech(x)")
             span.fa.fa-trash
           td
            button.btn.btn-primary.btn-md(type='button', data-toggle='modal', data-target='#edit_tech' , ng-click="load_tech(x)") Edit



   .index_form(style="padding:10px;")
     #edit_tech.modal.fade(role='dialog')
       .modal-dialog
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal') ×
             h4.modal-title Edit
           .modal-body
            include edit_tech
           .modal-footer
             button.btn.btn-default(type='button', data-dismiss='modal') Close


   .index_form(style="padding:10px;")
     #myModal.modal.fade(role='dialog')
       .modal-dialog
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal') ×
             h4.modal-title New Technician info
           .modal-body
            include add_tech
           .modal-footer
             button.btn.btn-default(type='button', data-dismiss='modal') Close

  script(src='/javascripts/admin_tech.js')
