extends layout
block content
 div(ng-controller="salon")
   .index_form(style="padding:10px;")
     button.btn.btn-info.btn-md(type='button', data-toggle='modal', data-target='#add_salon_modal') New Salon
     #add_salon_modal.modal.fade(role='dialog')
       .modal-dialog
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal') ×
             h4.modal-title Salon Infomation
           .modal-body
            include add_salon
           .modal-footer
             button.btn.btn-default(type='button', data-dismiss='modal') Close
     #edit_salon_modal.modal.fade(role='dialog')
       .modal-dialog
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal') ×
             h4.modal-title Salon Infomation
           .modal-body
            include edit_salon
           .modal-footer
   include salon
