extends checkin_layout
block content
 div(ng-controaefller="salon", style='top: 50%; left: 50%; width:1em; height:1em; margin-top: -10em;  position:fixed;')
   .index_form(style="padding:10px;")
     button.btn.btn-info.btn-md(type='button', data-toggle='modal', data-target='#checkin_form') Check In
 #checkin_form.modal.fade(role='dialog')
       .modal-dialog
         .modal-content
           .modal-header
             button.close(type='button', data-dismiss='modal') ×
             h4.modal-title Guest Info:
           .modal-body
            include checkin_form
           .modal-footer
             button.btn.btn-default(type='button', data-dismiss='modal') Close
