block content
 form(ng-submit="edit_tech()", name='et')
  .form-group
    label(for='first_name') First Name
    .input-group
      span.input-group-addon
       span.fa.fa-user
      input.form-control(ng-model="first_name",type='text',placeholder="First Name", required='')

  .form-group
    label(for='last_name') Last Name
    .input-group
      span.input-group-addon
       span.fa.fa-user
      input.form-control(ng-model="last_name",type='text',placeholder="Last Name",required='')

  .form-group
    label(for='email') Email
    .input-group
      span.input-group-addon
       span.fa.fa-desktop
      input.form-control(ng-model = "email",type='text',placeholder="Email (optional)", ng-blur='checkTechEmail()')
    .help-block(ng-show="et.$dirty && email") 
     span.alert-danger(ng-if="!isEmail && !em") Wrong email
     span.alert-danger(ng-if="isEmail") Already taken! 
  .form-group
    label(for='phone_number') Phone Number
    .input-group
      span.input-group-addon
       span.fa.fa-phone
      input.form-control(ng-model="phone", type='tel', required='', phone-input, ng-minlength='10',ng-change='checkTechPhone()')
    .help-block.alert-danger(ng-show="et.$dirty && isPhone && phone") Already taken! 
  .form-group
    label(for='username') User Name
    .input-group
      span.input-group-addon
       span.fa.fa-user
      input.form-control(ng-model="user_name", type='text', required='', ng-blur='checkTechUserName()', disabled='')
      //span.label.label-danger() test
    .help-block.alert-danger(ng-show="et.$dirty && isUserName && user_name") Already taken! 
  .form-group
    label(for='password') Password
    .input-group
      span.input-group-addon
       span.fa.fa-lock
      input.form-control(ng-model="password", type='password', required='')
  .form-group
   button.btn.btn-primary(type='submit') Save
