block content
 form(ng-submit="save_salon()")
  .form-group.block(style="padding:20px;")
    label(for='bussiness_name') Business Name
     .input-group.input-group-lg
      span.input-group-addon
       span.fa.fa-address-card-o
      input.form-control(ng-model='edit_name',ng-change="check_name()",type='text',required='',placeholder="Salon Name")
  .form-group.col-md-4
    label(for='web-url') Web URL
    .input-group
      span.input-group-addon
       span.fa.fa-desktop
      input.form-control(ng-model="edit_url",type='text',placeholder="Optional")
  .form-group.col-md-4
    label(for='phone_number') Phone Number
    .input-group
      span.input-group-addon
       span.fa.fa-phone
      input.form-control(ng-model="edit_phone", type='tel', required='')
  .form-group.col-md-4
    label(for='bussiness_slogon') Slogan
    .input-group
      span.input-group-addon
       span.fa.fa-info
      input.form-control(ng-model="edit_name2",type='text')
  .form-row
   .form-group.col-md-6
    label(for='inputAddress') Address
     .input-group
      span.input-group-addon
       span.fa.fa-map-marker
      input.form-control(ng-model="edit_address1",type='text', placeholder='1234 Main St',required='')
  .form-group.col-md-6
   label(for='inputAddress2') Address 2
    .input-group
      span.input-group-addon
       span.fa.fa-map-marker
      input.form-control(ng-model="edit_address2",type='text', placeholder='Apartment, studio, or floor',required='')
   .form-row
  .form-group.col-md-4
    label(for='inputCity') City
    .input-group
      span.input-group-addon
       span.fa.fa-map-marker
      input.form-control(ng-model="edit_city",type='text',required='')
  .form-group.col-md-4
    label(for='inputState') State
    .input-group
      span.input-group-addon
       span.fa.fa-map-marker
      select.form-control(ng-model="edit_state",required='')
       option(selected='') Choose...
       option Alabama
       option Alask
       option Arizona
       option Arkansas
       option California
       option Colorado
       option Connecticut
       option Delaware
       option Florida
       option Georgia
       option Hawaii
       option Idaho
       option Illinois
       option Indiana
       option Iowa
       option Kansas
       option Kentucky
       option Louisiana
       option Maine
       option Maryland
       option Massachusetts
       option Michigan
       option Minnesota
       option Mississippi
       option Missouri
       option Montana
       option Nebraska
       option Nevada
       option New Hampshire
       option New Jersey
       option New Mexico
       option New York
       option North Carolina
       option North Dakota
       option Ohio	OH
       option Oklahoma
       option Oregon
       option Pennsylvania
       option Rhode Island
       option South Carolina
       option South Dakota
       option Tennessee
       option Texas
       option Utah
       option Vermont
       option Virginia
       option Washington
       option West Virginia
       option Wisconsin
       option Wyoming
  .form-group.col-md-4
    label(for='inputZip') Zip
    .input-group
      span.input-group-addon
       span.fa.fa-map-marker
      input.form-control(ng-model="edit_zip",type='text',required='')
  .form-group.col-md-4
   button.btn.btn-primary(type='submit') Save
