if(messages)
 if(messages.error)
  div.alert.alert-danger.alert-dismissable
   a.close(href="#", data-dismiss="alert", aria-label="close") x
   p=messages.error  
 if(messages.success)
  div.alert.alert-success=messages.success
 if(messages.info)
  div.alert.alert-info=messages.info
 if(messages.warning)
  div.alert.alert-warning=messages.warning
