.container
 .footer

//script(src='/javascripts/bootstrap.min.js')

block footer
 .index_footer
  div.container
   hr(style='margin: 30px 0 10px 0;')
   p &copy;&nbsp;
    a(href='#') AAPS  
    |   - 2018
   .row
     .col-md-4
      h4 Software Products
      p Salon-Nails POS
      p e-event-cards
     .col-md-4
      h4 Business Solutions
     .col-md-4
      h4 About AAPS
      p Team member
      p Our Mission
      p Our Customers
