extends layout

block content
 .sign_form(style="padding: 20px;")
  form(action="/forgot", method='POST')
   legend Forgot Password
   .form-group
    label(for='email') Email
    input.form-control(type='email', name='email', autofocus)
   button.btn.btn-primary(type='submit') Reset Password
