block content
  .form-group
    label(for='first_name') Serive Name
    .input-group
      span.input-group-addon
       span.fa.fa-user
      input.form-control(ng-model="name",type='text',placeholder="service Name", required='')

  .form-group
    label(for='last_name') Service VN Name
    .input-group
      span.input-group-addon
       span.fa.fa-user
      input.form-control(ng-model="name_vn",type='text',placeholder="Viet name",required='')

  .form-group
    label Description 1
    .input-group
      span.input-group-addon
       span.fa.fa-desktop
      textarea.form-control(ng-model = "description1",rows='3',placeholder="service Name", required='')

  .form-group
    label Description 2
    .input-group
      span.input-group-addon
       span.fa.fa-desktop
      textarea.form-control(ng-model = "description2",rows='3',placeholder="service Name", required='')

  .form-group
    label Description 3
    .input-group
      span.input-group-addon
       span.fa.fa-desktop
      textarea.form-control(ng-model = "description3",rows='3',placeholder="service Name", required='')

  .form-group
    label(for='price') Price
    .input-group
      span.input-group-addon
       span.fa.fa-user
      input.form-control(ng-model="price", type='text', required='')
  .form-group
    button.btn.btn-primary(type='submit',ng-click="add_service()",ng-hide="isLoadEdit",class="ng-hide") Add Service
    button.btn.btn-primary(ng-click="edit_service()", ng-hide= "!isLoadEdit",type='submit') Save

