div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
 div.container
  div.navbar-header
   button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.icon-bar
    span.icon-bar
    span.icon-bar
   a.navbar-brand(href="#")
    | AA PLUS SOLUTION 
  div.collapse.navbar-collapse
   ul.nav.navbar-nav
    li.active
     a(href="#") HOME
    li
     a(href="#team") TEAM
    li
     a(href="#products") PRODUCTS
    li
     a(href="#ourcustomers") CUSTOMERS
    li
     a(href="#contact") CONTACT
   ul.nav.navbar-nav(style='float: right')
    li
     if user
      a.navbar-nav.pull-right(href='/auth/logout')  logout - #{user.user_name}
     else
      a.navbar-nav.pull-right(href='#signin') SIGN IN
      
  
