extends layout
block content
 div.container(ng-controller="index")
  if !user
   h3(style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;") Free your life with AAPS
   .row
     .col-md-4
       .thumbnail
           img(src='/images/website.jpg', alt='Lights', style='width:100%')
           .caption
             p Free Website-Appointment maker
             p Easy to manage technicians
             p Guest Checkin
     .col-md-4
       .thumbnail
           img(src='/images/computer-2982270_1280.jpg', alt='Free your life!', style='width:100%')
           .caption
             p Global Access
             p Multiple locations, one account.
             p Reporting tools you can grow with
     .col-md-4
       .thumbnail
           img(src='/images/team-spirit-2447163_1280.jpg', alt='Fjords', style='width:100%')
           .caption
             p Go fast by yourself, But we can go futher together!

 if !user
  .index_form
    .container
     .row 
      .col-md-4
       include login
      .col-md-6
       include register 
  script(src='/javascripts/index.js')


