doctype html
html(ng-app="app")
 head
  meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
  block head
   block title
    title AA PLUS SOLUTION
   block meta
    meta(name='description', content='')
    meta(name='keywords', content='')
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
   script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
   link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
   script(src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js")
   link(href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet")
   script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
   script(src="/javascripts/app.js")
 body(style="padding-top:50px;")
  if user
   include user_header
   block content
   include user_footer
  else
   include header
   include flash
   block content
   include footer
   
