block content
 h3 LOGIN
 form(ng-controller="login_form")
  label.control-label(for='user_name') User Name
  .input-group.input-group-md
    span#sizing-addon1.input-group-addon
     span.fa.fa-user
    input.form-control(ng-model="login_username",type='text',name="user_name" placeholder='Username', aria-label='Username', aria-describedby='sizing-addon1' ,required)
  br
  label.control-label(for='password') Password
  .input-group.input-group-md
    span#sizing-addon1.input-group-addon
     span.fa.fa-lock
    input.form-control(type='password',ng-model="login_password", name="password", placeholder='Password', aria-label='Password', aria-describedby='sizing-addon1', required) 
  .help-block(ng-show='validated') 
   .alert-danger() Either username or password is wrong!
  br
  button.btn.btn-primary.btn-md(type='submit',ng-click="login()") LOGIN
  br
  br
  button.btn.btn-default.btn-small(type='button', ng-click="forgot()") Forgot Password
