a(href="#menu",class="menu-link", id="menuLink")
span
#menu
	.pure-menu
		a.pure-menu-heading(href='#') Easy Nail POS
		ul.pure-menu-list
			li.pure-menu-item
				a.pure-menu-link(href='/') Home
			li.pure-menu-item
				a.pure-menu-link(href='#') About
			li.pure-menu-item.menu-item-divided.pure-menu-selected
				a.pure-menu-link(href='#') Services
			li.pure-menu-item
				a.pure-menu-link(href='#') Contact
