block content
div(ng-controller='register')
 h3 REGISTER
 form(data-toggle='validator', role='form', name='reg')
  .form-group
    .form-inline.row
      .form-group.col-sm-6
        label.control-label(for='first_name') First Name
        input#first_name.form-control(type='text', placeholder='First Name', required='', ng-minlength='2', ng-model='first_name')
        .help-block(ng-show="reg.$dirty && first_name.length <= 1") Minimum of 2 characters
      .form-group.col-sm-6
        label.control-label(for='last_name') Last Name
        input#last_name.form-control(type='text', placeholder='Last Name', required='', ng-minlength='2', ng-model='last_name')
        .help-block(ng-show="reg.$dirty && last_name.length < 2") Minimum of 2 characters
  .form-group
    label.control-label(for='inputEmail') Email
    .input-group
      span.input-group-addon
       span.fa.fa-envelope
      input#inputEmail.form-control(type='email', placeholder='Email', data-error='Bruh, that email address is invalid', required='', ng-minlength='5', ng-model='email', ng-blur='emailCheck()')
    .help-block.with-errors
    .help-block(ng-show="reg.$dirty && !isEmail && email") Already taken! 
  .form-group
    label.control-label(for='username') User Name
    .input-group
      span.input-group-addon
       span.fa.fa-user
      input#username.form-control(type='text', placeholder='User Name', required='', ng-minlength='6', ng-model='user_name', ng-blur='userName()')
    .help-block(ng-show="reg.$dirty && !isUserName && user_name.length <= 6") Already taken!
  .form-group
    .form-inline.row
      .form-group.col-sm-6
        label.control-label(for='inputPassword') Password
        .input-group
          span.input-group-addon
           span.fa.fa-lock
          input#inputPassword.form-control(type='password', data-minlength='0', placeholder='Password', required='', ng-model='password', ng-change='pwdCheck()', ng-focus='po=true', ng-init='po=false')
        .help-block(ng-show='password')
         li(ng-show="reg.$dirty && password.length < 8") Minimum length required is 8
          li(ng-show="reg.$dirty && !numUp") At least one Upper Case
          li(ng-show="reg.$dirty && !numLow") At least one Lower Case
          li(ng-show="reg.$dirty && !numNum") At least one Number
          li(ng-show="reg.$dirty && !numSpec") At least one special character (!, @, #, $, %, ^, &, *, (, ), -, _ )
      .form-group.col-sm-6
        label.control-label(for='inputPasswordConfirm') Confirm Password
        input#inputPasswordConfirm.form-control(type='password', data-match='#inputPassword', data-match-error="Whoops, these don't match", placeholder='Confirm', required='', ng-model='confirm_password', ng-change='pwdConfirm()')
        .help-block.with-errors(ng-show="confirm_password && !isConfirmPwd") Not Match!
   .help-block By clicking Create Account, you agree to our Terms and that you have read our Data Policy, including our Cookie Use. You may receive SMS Notifications from AAPS and can opt out at any time.
  .form-group
    button.btn.btn-primary.btn-md(type='submit', ng-disabled='!isregister', ng-click='getRegister()') Create Account

// form(action="/users/authen",method="POST")
script(src='/javascripts/register.js')

