extends layout

block content
	.sign_form(style="padding: 10px")
		div(ng-controller='reset_pass', id='reset_form')
			form(method='POST', name='reset')
				legend Reset Password
				.form-group
					label(for='password') New Password
					input.form-control(type='password', name='password', placeholder='New password', ng-model='password', autofocus=true, required, ng-change='pwdCheck()')
					div(role='alert')
						span.error.alert-danger(ng-show="reset.$dirty && reset.password.$error.required") Required!
						//span.error.alert-danger(ng-show="reset.$dirty && reset.password.$error.minlength") Minimum length required is 8
						ul(ng-show="reset.$dirty")
							li.alert-danger(ng-show="reset.$dirty && password.length < 8") Minimum length required is 8
							li.alert-success(ng-show="reset.$dirty && password.length >= 8") Minimum length required is 8
							li.alert-danger(ng-show="reset.$dirty && !numUp") At least one Upper Case
							li.alert-success(ng-show="reset.$dirty && numUp") At least one Upper Case
							li.alert-danger(ng-show="reset.$dirty && !numLow") At least one Lower Case
							li.alert-success(ng-show="reset.$dirty && numLow") At least one Lower Case
							li.alert-danger(ng-show="reset.$dirty && !numNum") At least one Number
							li.alert-success(ng-show="reset.$dirty && numNum") At least one Number
							li.alert-danger(ng-show="reset.$dirty && !numSpec") At least one special character (!, @, #, $, %, ^, &, *, (, ), -, _ )
							li.alert-success(ng-show="reset.$dirty && numSpec") At least one special character (!, @, #, $, %, ^, &, *, (, ), -, _ )
				.form-group
					label(for='confirm') Confirm Password
					input.form-control(type='password', name='confirm_password', value='', ng-model='confirm_password', placeholder='Confirm password', required, ng-change='pwdConfirm()')
					div(role='alert')
						span.error.alert-danger(ng-show="reset.$dirty && reset.confirm_password.$error.required") Required!
						span.error.alert-danger(ng-show="reset.$dirty && reset.confirm_password.$valid && !isPwd") Password is not matched
						span.error.alert-success(ng-show="reset.$dirty && reset.confirm_password.$valid && isPwd") Password is matched
				.form-group
					button.btn.btn-primary(type='submit', ng-click='updatePass()', ng-disabled='!isUpdate') Update Password
					button.btn(type='reset') Reset
	script(src='/javascripts/reset.js')
