block content
  #add_salon_modal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Salon Infomation
        .modal-body
         include add_salon
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
  #edit_salon_modal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Salon Infomation
        .modal-body
         include edit_salon
           .modal-footer
   table.table.table-hover
    thead
     tr
      th Business Name
      th Phone
      th Address
      th 
      th 
     tbody
        tr(ng-repeat='x in data') 
         th(scope='row') {{x.name}}
         td {{x.phone}}
         td {{x.address1}} {{x.address2}} {{x.city}}, {{x.state}} {{x.zip}} 
         td
          a.btn.btn-info(href='/x/{{x.store_id}}', role='button') 
           span.fa.fa-building-o
          | 
          a.btn.btn-info(href='/s/{{x.store_id}}', role='button') 
           span.fa.fa-globe
          | 
          a.btn.btn-info(href='/tech/{{x.store_id}}', role='button') Template
          | 
          a.btn.btn-info(href='/tech/{{x.store_id}}', role='button') Technicians
          | 
          a.btn.btn-info(href='/service/{{x.store_id}}', role='button') Services
          | 
          button.btn.btn-primary.btn-md(type='button', data-toggle='modal', data-target='#edit_salon_modal',ng-click="edit_salon(x)")
           span.fa.fa-wrench
          |  
          button.btn.btn-primary.btn-md(type='button',ng-click="remove_salon(x)")
           span.fa.fa-trash
script(src='/javascripts/salon.js')
