extends layout
block content
  
  if data
   h1="Service"
   p Welcome #{data[0].user_name}
   include ./menu.jade
   - each node in data
    div(ng-controller="employees" ng-init="myVar=#{data[0].user_name}")
     - each stores in node.user_stores
        - each store in stores.stores
         br
         br
         br
         br
         div
          Store Name: #{store.name}  
         div
         Store ID: #{store.store_id}  Phone: #{store.phone} Hours: #{store.hours}
         br
         div 
          a(href="http://benphan.com:3000/s/#{stores.store_id}") http://benphan.com:3000/s/#{stores.store_id}

         br
         input(type="hidden" ,name="store_id", value=store.store_id, ng-model="store_id",id="store_id")
         label(for='name') name:
         input#name.form-control(name="name",type='text',ng-model="name")

         label(for='name_vn') name_vn:
         input#name_vn.form-control(name="name_vn",type='text',ng-model="name_vn")

         label(for='description1') description1:
         input#description1.form-control(name="description1",ng-model="description1",type='text')

         label(for='description2') description2:
         input#description2.form-control(name="description2",ng-model="description2",type='text')

         label(for='description3') description3:
         input#description3.form-control(name="description3",ng-model="description3",type='text')
         
         label(for='price') price:
         input#price.form-control(name="price",type='text',ng-model="price")

         button.btn.btn-primary(type='button',ng-click="add_service(#{store.store_id})") Add Service


         - each item in store.items
          form(method='POST' action='/admin/service')
           input(type="hidden" name="item_id" value=item.item_id)
           input(type="hidden" name="store_id" value=item.store_id)
           br
           label(for='name') name:
           input#name.form-control(name="name",type='text',value=item.name)
           br
           label(for='description1') description1:
           input#description1.form-control(name="description1",type='text',value=item.description1)
           br
           label(for='description2') description2:
           input#description2.form-control(name="description2",type='text',value=item.description2)
           br
           label(for='description3') description3:
           input#description3.form-control(name="description3",type='text',value=item.description3)
           br

           label(for='price') price:
           input#price.form-control(name="price",type='text',value=item.price)
           br
           label(for='name_vn') name_vn:
           input#name_vn.form-control(name="name_vn",type='text',value=item.name_vn)
           br
           button.btn.btn-primary(type='submit') Save
           button.btn.btn-primary(type='button',ng-click="delete_service(#{item.store_id},#{item.item_id})") Delete
    script(src='/javascripts/service.js')

  else
   form(action="/users/authen",method="POST")
    input(id="user_name",name="user_name",placeholder="user_name")
    br
    input(id="password",type="password",name="password") 
    br
    input(type="submit", value="Login")
    br
   a(href="/auth/facebook/") facebook
   br
   a(href="/auth/google/") google+


