doctype html
html(ng-app="app")
 head
  meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0')
  meta(name='description', content='')
  meta(name='keywords', content='')
 script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
 link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
 link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
body(style="padding-top:50px;")
   
