extends store_layout
block content
   div(id="layout")
    a(href="#menu",class="menu-link", id="menuLink")
     span
    #menu
      .pure-menu
        a.pure-menu-heading(href='#') #{data.name}
        ul.pure-menu-list
          li.pure-menu-item
            a.pure-menu-link(href='#') Home
          li.pure-menu-item
            a.pure-menu-link(href='#') Appointment
          li.pure-menu-item.menu-item-divided.pure-menu-selected
            a.pure-menu-link(href='#') Services
          li.pure-menu-item
            a.pure-menu-link(href='#') Location


    #main
      .header
        .store_name #{data.name}
        .store_description #{data.name2}
        p
        .info 
         a(href="tel:#{data.phone}")  #{data.phone}
         div #{data.address1} #{data.address2}
         div #{data.hours}
        .service Our Services
         hr(class="style-eight")
         br
        .service Make An Appointment
        div(ng-controller="admin_controller",class="apt")
         label(for='name') Your Name:
         input(name="name",type='text',placeholder="Your Name")
         br
         label(for='time') Arrival:
         input(name="time",type="datetime-local")
         br
         label(for='tech') Technichian:
         select
          option(value='0') Anyone
          
         br
         label(for='note') Note(optional):
         br
         input(name="note",type='textarea',placeholder="You would like us to know...")
         br
         button(type='button',ng-click="create_appointment()") Create Appointment
      include ./footer.jade
   script(src='/javascripts/ui.js')
   script(src='/javascripts/store.js')
   script(src='/javascripts/s300.js')


