div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
 div.container
  div.navbar-header
   button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
    span.icon-bar
    span.icon-bar
    span.icon-bar
   a.navbar-brand(href="#")
    | AA PLUS SOLUTION 
  div.collapse.navbar-collapse
   ul.nav.navbar-nav
    li.active
     a(href="#") Salon
    li
     a(href="#") Service
    li
     a(href="#team") Technician 
    li
     a(href="#team") Your Account
    li
     a(href="/auth/logout") log out
      
  
