.container
 .footer

//script(src='/javascripts/bootstrap.min.js')

block footer
 .index_footer
  div.container
   hr(style='margin: 30px 0 10px 0;')
   p &copy;&nbsp;
    a(href='#') YOUR STORE
    |   - 2018
