doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Beauty Spa - HTML5 Responsive template
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/fonts/templates/1/fonts/ProximaNovaA-Semibold.css')
    link(rel='stylesheet', href='/fonts/templates/1/fonts/ProximaNova-Extrabld.css')
    link(rel='stylesheet', href='/fonts/templates/1/fonts/ProximaNovaA-Regular.css')
    link(rel='stylesheet', href='/fonts/templates/1/fonts/ProximaNovaA-Bold.css')
    link(rel='stylesheet', href='/stylesheets/templates/1/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/templates/1/css/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/templates/1/css/style.css')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
      script.
        window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\\/script>')
  body
    nav.navbar.navbar-default.header-section
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img.img-responsive(src='/images/templates/1/image/logo.png', width='243', height='54', alt='')
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Home
            li
              a(href='#') Shop
            li
              a(href='#') How It Works
            li
              a(href='#') Testimonials
            li
              a(href='#') About
            li
              a(href='#') Blog
            li
              a(href='#') Contact
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
                i.fa.fa-search
            li
              a(href='#')
                i.fa.fa-shopping-cart
                | Cart
        // /.navbar-collapse
      // /.container-fluid
    #top-button.cover-section
      .container
        .row
          .col-md-12.wow.fadeInDown.animated
            .slider-item
              img(src='/images/templates/1/image/logo-simple.png', width='117', height='144', alt='')
              h2 PROFESSIONALS RELAX TODAY
              p
                | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                br
                |  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    .purilfy-section
      .container
        .row
          .col-md-10.col-md-offset-1
            .purifliy-item.wow.fadeInDown.animated
              h3 CLEANSE. PURIIFY. ENERGIZE
              p
                | There is an anti-aging revolution occurring in healthcare today and that you are the main beneficiary. Nowhere in the field of anti-aging medicine are the breakthroughs and technological advances more exciting, more relevant and more readily available for immediate application and benefit to you than in the field of facial rejuvenation.
    .offer-section
      .container
        .row
          .col-md-12.wow.fadeInDown.animated
            h4 Our Special Offer
            h2 Oil Massage 45 min. for Only $59
            a(href='#') Make An Appointment
    .benefit-section
      .container-fluid
        .row
          .col-md-12
            h2.section-title YOUR BENEFITS TO WELL BEING
        .row
          .col-md-3.benefit-item.wow.fadeInDown.animated(data-wow-delay='0.2s')
            h3 Benefit 1
            a(href='#')
              img.img-responsive(src='/images/templates/1/image/beneifit1.png', width='207', height='208', alt='')
            h2 Spa
            p Start your day with Purgo Morning Detox Tea.
          .col-md-3.benefit-item.wow.fadeInDown.animated(data-wow-delay='0.4s')
            h3 Benefit 2
            a(href='#')
              img.img-responsive(src='/images/templates/1/image/benefit2.png', width='207', height='208', alt='')
            h2 BEAUTY
            p Eat wholesome, nutritious food throughout the day.
          .col-md-3.benefit-item.wow.fadeInDown.animated(data-wow-delay='0.6s')
            h3 Benefit 3
            a(href='#')
              img.img-responsive(src='/images/templates/1/image/benefit3.png', width='225', height='226', alt='')
            h2 YOGA
            p Exercise for 30 minutes.
          .col-md-3.benefit-item.wow.fadeInDown.animated(data-wow-delay='0.8s')
            h3 Benefit 4
            a(href='#')
              img.img-responsive(src='/images/templates/1/image/benefit4.png', width='207', height='208', alt='')
            h2 GYM
            p Relax with Purgo Evening Cleanse Tea.
    .message-section
      .container
        .row
          .col-md-8.col-md-offset-2.wow.fadeInDown.animated
            h2.section-title MASSAGE RITUALS
            p
              | Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores. Stet clita kasd gubergren, no sea takimata sanctus. At vero eos et accusam et justo duo dolores et ea rebum. At vero eos et accusam et justo duo dolores et ea rebum. Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut ispim labore et dolore magna aliquyam erat.
    .news-section
      .container
        .row
          .col-md-6.news-item
            .news-deatils.wow.fadeInDown.animated(data-wow-delay='0.2s')
              .col-md-6.thumbnail
                img(src='/images/templates/1/image/blog1.png', width='249', height='272', alt='')
              .col-md-6.content
                span 23rd Dec, 2015
                p Yoga is Possible for Anyone Who Really Wants It
          .col-md-6.news-item
            .news-deatils.wow.fadeInDown.animated(data-wow-delay='0.5s')
              .col-md-6.thumbnail
                img(src='/images/templates/1/image/blog2.png', width='249', height='272', alt='')
              .col-md-6.content
                span 23rd Dec, 2015
                p Have you recently tried facial wash? If you have...
    .client-section
      .container
        .row
          .col-md-12
            h2.section-title Clients about Us
            p.title-cap Best Teachers Are Here For You
        .row
          .col-md-4
            .client-item.wow.fadeInDown.animated(data-wow-delay='0.2s')
              .client-content
                i.fa.fa-quote-left
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a(href='#')
                img(src='/images/templates/1/image/client1.png', alt='')
              h3 Tanny Tan
          .col-md-4
            .client-item.wow.fadeInDown.animated(data-wow-delay='0.5s')
              .client-content
                i.fa.fa-quote-left
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a(href='#')
                img(src='/images/templates/1/image/client2.png', alt='')
              h3 Georgie Drake
          .col-md-4
            .client-item.wow.fadeInDown.animated(data-wow-delay='0.8s')
              .client-content
                i.fa.fa-quote-left
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a(href='#')
                img(src='/images/templates/1/image/client.png', alt='')
              h3 Elva McCoy
    .blog-section
      .container
        .row
          .col-md-12
            h2.title-section Blog Post
            p.title-cap Clients review about us
        .row
          .col-md-6.wow.fadeInDown.animated(data-wow-delay='0.2s')
            .row
              .col-md-3.blog-thumb
                a(href='#')
                  img(src='/images/templates/1/image/blog-item1.png', width='127', height='190', alt='')
              .col-md-9.blog-content
                h3 Mina Norman
                p
                  | When warm weather arrives, it's only natural to want to get out and enjoy the sun's glorious rays.It's also important to protect your skin to keep it looking healthy and youthful.
                a(href='#') Read More
          .col-md-6.wow.fadeInDown.animated(data-wow-delay='0.5s')
            .row
              .col-md-3.blog-thumb
                a(href='#')
                  img(src='/images/templates/1/image/blog-item2.png', width='127', height='190', alt='')
              .col-md-9.blog-content
                h3 Anny Ane
                p
                  | Becoming aware of your salon's surroundings and sanitary procedures is critical to keep your experience pleasant and healthy. Here are a few tips from BTG Cosmetics Inc
                a(href='#') Read More
    .table-section
      .container
        .row
          .col-md-12
            h2.section-title Pricing Table
            p.section-cap Our Pricing list for The Customers
        .row
          .col-md-4.table-content.wow.fadeInDown.animated(data-wow-delay='0.2s')
            .table-item.sliver
              h2
                | 50
                sup $
              h3 SILVER
              ul
                li Full Body Massage
                li Deep Tissue Massage
                li Hot Stone Massage
                li Body Polish (1 hr)
              a(href='#') Purchase
          .col-md-4.table-content.wow.fadeInDown.animated(data-wow-delay='0.5s')
            .table-item.gold
              h2
                | 70
                sup $
              h3 GOLD
              ul
                li Full Body Massage
                li Deep Tissue Massage
                li Hot Stone Massage
                li Body Polish (1 hr)
              a(href='#') Purchase
          .col-md-4.table-content.wow.fadeInDown.animated(data-wow-delay='0.81s')
            .table-item.platinum
              h2
                | 90
                sup $
              h3 PLATINUM
              ul
                li Full Body Massage
                li Deep Tissue Massage
                li Hot Stone Massage
                li Body Polish (1 hr)
              a(href='#') Purchase
    .footer-section
      .container
        .row
          .col-md-2
            ul.social-media
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-google-plus
          .col-md-7.copyright
            ul.nav.navbar-nav
              li
                a(href='#') Home
              li
                a(href='#') Shop
              li
                a(href='#') How It Works
              li
                a(href='#') Testimonials
              li
                a(href='#') About
              li
                a(href='#') Blog
              li
                a(href='#') Contact
            |                         Shared by 
            i.fa.fa-love
            a(href='https://bootstrapthemes.co') BootstrapThemes
            p
          .col-md-3
            .top-button
              a.scroll(href='#top-button')
                i.fa.fa-arrow
    script(src='/javascripts/templates/1/js/vendor/jquery-1.11.2.min.js')
    script(src='/javascripts/templates/1/js/vendor/bootstrap.min.js')
    script(src='/javascripts/templates/1/js/wow.min.js')
    script(src='/javascripts/templates/1/js/custom.js')

